<div class="material-btn color-red" ng-click="cartCtrl.removeAllItem()">
  Vider le panier
</div>
<div class="ipro-cart-elem" ng-repeat="item in index.cart track by $index">
  <div class="ipro-cart-section">
    <div class="ipro-cart-thumbnail"><img ng-src="{{index.basePicUrl + item.pic}}"/></div>
    <div class="ipro-cart-name">{{item.name}}</div>
  </div>
  <div class="ipro-cart-section">
    <div class="ipro-cart-price">${{item.cost}}</div>
    <div class="ipro-cart-delete">
      <div class="material-round-btn color-blue" ng-click="index.showItem(item.ref)">
        <i class="fa fa-eye"></i>
      </div>
      <div class="material-round-btn color-red" ng-click="cartCtrl.removeItem($index)">
        <i class="fa fa-trash"></i>
      </div>
    </div>
  </div>

</div>
<h2>Total : ${{index.sum}}</h2>
